---
layout: page
url: chapter-2
title: Chapter 2
slug: chapter-2
subtitle: General Best Practices for Capturing Patient Demographic Data
description: Learn more about the “dos” and “don’ts” of patient demographic data to improve patient matching and safety.
twitter: Learn more about the “dos” and “don’ts” of patient demographic data
billboardClass: chapter2-billboard
billboard-image: bg-chapter-2.jpg

subnav:
- section-num: 2.1 
  section-title: General Dos and Don’ts of Capturing Patient Demographic Data

navigation_weight: 3
---


{% include social-links.html %}

{% include billboard_both.html %}


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>Most systems use a small set of patient demographic data elements to find records and match them together.  While some systems may only use one or two data elements from the list below, others may use all of them:</p>
				<ul> 
					<li>First and Last Name</li>
					<li>Date of Birth</li>
					<li>Address</li>
					<li>Phone Number</li>
					<li>Sex/Gender</li>
				</ul>
				<p>
				This chapter will focus on some overall best practices for capturing these demographic data elements, and some best practices for each data element.</p>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section2.1" name="section2.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.1</span>General Dos and Don’ts of Capturing Patient Demographic Data</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h3>When the patient is present</h3>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO ask to see the patient’s license, insurance card, or government issued ID and use the demographic information on the ID to put into the system.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO provide the patient with their demographic information in writing, and ask them to review it to ensure all fields are up to date and spelled correctly. This may be done by showing the patient the computer screen with their demographic information. If you print out their information DO ensure you properly dispose of the printout by shredding it.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO build relationships/trust with patients, particularly those you see frequently.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT simply ask the patient if any information has changed since their last visit.</div>
				</div>


				<h3>When the patient is spoken with over the phone</h3>
					
				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO request that the patient spell his/her first name, last name, and address (i.e. the street name, city, etc.).</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO provide the patient with the information in the system and ask them to verify what you have.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT simply ask the patient if any information has changed since their last visit.</div>
				</div>

			</div>
		</div>
	</div>
</div>				



{% include upper-footer.html %}