---
layout: page
url: chapter-3
title: Chapter 3
slug: chapter-3
subtitle: Best Practices for Data Capture by Data Attribute
description: Find out more about how to accurately capture patient demographic data.
twitter: Find out more about how to accurately capture patient demographic data.
billboardClass: chapter3-billboard
billboard-image: bg-chapter-3.jpg

subnav:
- section-num: 3.1
  section-title: Patient Name
- section-num: 3.2
  section-title: Date of Birth (DOB)
- section-num: 3.3
  section-title: Address
- section-num: 3.4
  section-title: Phone Number
- section-num: 3.5
  section-title: Sex and Gender 

navigation_weight: 4
---


{% include social-links.html %}

{% include billboard_both.html %}


<div class="section-header" id="section3.1" name="section3.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.1</span>Patient Name</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<span class="highlight"><p>Patient name includes a set of words by which a person is known, i.e. First, Middle, and Last or Family Name. A legal name identifies a person for administrative and other official purposes, like insurance payments.  It is generally the name that appears on a person’s birth certificate but may change over time, as individuals adopt nicknames.</p></span>
				
				<h3>Patient Name data may be stored in the following five fields:</h3>
				<ul>
					<li>First name/given name: this should be the patient’s legal name as it appears on their insurance card.</li>
					<li>Last name/surname:  Generational titles such as Jr, Sr, III are considered part of the last name, and should be included in this field.</li>
					<li>Middle name or initial</li>
					<li>Suffix – Should be used to indicate educational degrees and accreditation. Common suffixes include MD, DO, CRNP, PhD.</li>
					<li>Prefix - Should be used for professional or religious titles or honorifics such as:  Doctor, Sister, Father, Professor (could routinely be entered using typical 2-character designations – Dr, Sr, Fr).  It is not necessary to collect common prefixes such as Mr, Mrs, Ms, and Miss.</li>
				</ul>

				<h3>Dos and Don'ts for recording patient name</h3>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO use the patient’s government-issued photo ID to collect the patient’s Name, or use the patient’s insurance card to record the legal name.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO ask the patient for their middle name and record at least his/her middle initial if they have one.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">When a patient’s first name is an initial DO capture just the initial in the first name field and use the Middle name field for a full name.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO capture the patient’s preferred name, if she/he has one.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT capture the patient’s preferred name in the First Name field, but in a field for preferred name if one exists.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO include a suffix, such as Sr, Jr, II, etc. in the Last Name field.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT include a suffix, such as MD, DO, RN, etc. in the Last Name field.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">Do capture punctuation commonly used in names such as hyphens (-) and apostrophes (’).</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If an existing patient gives a name that does not match an existing record DO ask the patient: “Are there any former legal names or past or present nicknames for you?”</div>
				</div>
				
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.2" name="section3.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.2</span>Date of Birth (DOB)</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<span class="highlight"><p>The reported day, month, and year of birth for a patient</p></span>
				<p>DOB should be recorded for all patients, even if the patient does not know their DOB.</p>

				<h3>Dos and Don’ts for recording DOB</h3>
				
				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO record DOB in the following format: MM-DD-YYYY</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If the full DOB is unknown or the patient is unresponsive, and a representative is not immediately available, DO record the DOB in a standard format, such as 01-01-1880.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If only the year is known, DO record the month and day in a standard format, such as 01-01-yyyy (year provided by patient).</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If the patient is a twin, DO record the hour, minute, or second for DOB, if known.</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.3" name="section3.3">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.3</span>Address</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<span class="highlight">
					<p>Address fields capture the current and historical location of a patient’s residence.</p>
				</span>
				<p>Generally, address fields should follow the United States Postal Service (USPS) – <a href="http://pe.usps.com/text/pub28/welcome.htm" rel="noopener noreferrer" target="_blank">Postal Addressing Standards</a>:</p>
				<p>
				Address Line 1:  		House Number and Street Name<br>
				Address Line 2:  	 	Suite #, Apartment #, etc.<br>
				City, State and ZIP+4 Code (Note:  city, state and zip in separate fields)<br>
				</p>

				<h3>Dos and Don’ts for Recording Address</h3>
				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO use the US Postal Service standard abbreviations for street suffix.  Commonly used address abbreviations include the following:</div>
				</div>

				<div id="addresses">		
					<ul class="col-4-list">
						<li class="grid-4">Alley - ALY</li>
						<li class="grid-4">Avenue – AVE</li>
						<li class="grid-4">Bypass – BYP</li>
						<li class="grid-4">Center – CTR</li>
						<li class="grid-4">Circle – CIR</li>
						<li class="grid-4">Court – CT</li>
						<li class="grid-4">Crossing – XING</li>
						<li class="grid-4">Drive – DR</li>
						<li class="grid-4">Expressway – EXPY</li>
						<li class="grid-4">Falls – FLS</li>
						<li class="grid-4">Field – FLD</li>
						<li class="grid-4">Freeway – FWY</li>
						<li class="grid-4">Gateway – GTWY</li>
						<li class="grid-4">Green – GRN</li>
						<li class="grid-4">Heights – HTS</li>
						<li class="grid-4">Highway – HWY</li>
						<li class="grid-4">Junction – JCT</li>
						<li class="grid-4">Key – KY</li>
						<li class="grid-4">Knoll – KNL</li>
						<li class="grid-4">Landing – LNDG</li>
						<li class="grid-4">Manor – MNR</li>
						<li class="grid-4">Meadow – MDW</li>
						<li class="grid-4">Mill – ML</li>
						<li class="grid-4">Mountain – MTN</li>
						<li class="grid-4">Overpass – OPAS</li>
						<li class="grid-4">Parkway – PKWY</li>
						<li class="grid-4">Plaza – PLZ</li>
						<li class="grid-4">Rapid – RPD</li>
						<li class="grid-4">River – RIV</li>
						<li class="grid-4">Road – RD</li>
						<li class="grid-4">Route – RTE</li>
						<li class="grid-4">Square – SQ</li>
						<li class="grid-4">Station – STA</li>
						<li class="grid-4">Street – ST</li>
						<li class="grid-4">Terrace – TER</li>
						<li class="grid-4">Turnpike – TPKE</li>
						<li class="grid-4">Vista – VIS</li>
						<li class="grid-4">Way - WAY</li>
					</ul>
				</div>
	
				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO verify the patient’s address using his/her government issued ID or a utility bill or other mailing.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT use any punctuation in the street or city fields.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">Do use a hyphen in the ZIP code field when using the ZIP+4.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO record and maintain historical addresses.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If an existing patient provides an address that does not match an existing record, DO ask the patient: “What are your former addresses?”</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If a patient is homeless, DO use the practice’s billing address for the patient’s address.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO use the USPS format for capturing international addresses. The bottom line of the address should show only the COUNTRY name, written in full (no abbreviations) and preferably in capital letters.</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.4" name="section3.4">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.4</span>Phone Number</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<span class="highlight">
					<p>Phone numbers include a numerical code to dial a patient’s mobile/cell phone, home phone, and/or work phone.</p>
				</span>
				<p>Generally, enter a patient’s phone number according to the North American Numbering Plan (NANP).  The number should be 10 digits including the patient’s area code (XXX) XXX-XXXX.</p>

				<h3>Dos and Don’ts for Recording Phone Number</h3>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO ask patients if their phone number is a home, office, or cell/mobile number and indicate for each number if it is primary or secondary. DO record the phone number in the corresponding phone type field in your system.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">For emergency contact information, DO include the phone type and primary and secondary fields.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO ask patients to verify their phone number during every patient encounter.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">For international phone numbers, DO use a dropdown for Country name and choose the appropriate country.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If a patient is unable to provide a primary phone number, DO enter 111-111-1111 to indicate the phone number is unknown.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT leave the phone number field blank.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If an existing patient provides a phone number that does not match an existing record, DO ask the patient: “Are there any phone numbers you once had but no longer use or no longer have?</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.5" name="section3.5">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.5</span>Sex and Gender</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p><b>Sex</b> – a person’s biological status referring to their genetic, hormonal, anatomical, and psychological characteristics of male, female, or intersex.</p>  
				<p><b>Gender</b> – a person’s attitudes, feelings, and behaviors associated with their biological sex.</p> 
				<p><b>Gender Identity</b> – a person’s basic sense of being male, female, or other gender (for example, transgender or gender queer). This may be the same or different from their sex assigned at birth.</p>

				<h3>Dos and Don’ts for Recording Sex and Gender</h3>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO record both Sex and Gender in separate fields.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DON'T assume the patient’s sex based on visual appearance.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO check identification for patient’s sex.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">In the absence of government identification or physician documentation, DO ask the patient their sex at birth.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">If a patient is not available, and their identification is also unavailable, DO record the sex as unknown.</div>
				</div>
				
			</div>
		</div>
	</div>
</div>


{% include upper-footer.html %}