---
layout: page
url: chapter-2
title: Chapter 2
slug: chapter-2
subtitle: General Best Practices for Capturing Patient Demographic Data
description: Learn more about the “dos” and “don’ts” of patient demographic data to improve patient matching and safety.
billboardClass: chapter2-billboard
billboard-image: bg-chapter-2.jpg

subnav:
- section-num: 2.1 
  section-title: General Dos and Don’ts of Capturing Patient Demographic Data

navigation_weight: 3
---


{% include social-links.html %}

{% include billboard_both.html %}


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>Most systems use a small set of patient demographic data elements to find records and match them together.  While some systems may only use or two data elements from the list below, others may use all of them:</p>
				<ul> 
					<li>First and Last Name</li>
					<li>Date of Birth</li>
					<li>Address</li>
					<li>Phone Number</li>
					<li>Sex/Gender</li>
				</ul>
				<p>
				This chapter will focus on some overall best practices for capturing these demographic data elements, and some best practices for each data element.</p>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section2.1" name="section2.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.1</span>General Dos and Don’ts of Capturing Patient Demographic Data</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h3>When the patient is present</h3>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO ask to see the patient’s license, insurance card, or government issued ID and use the demographic information on the ID to put into the system.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO provide the patient with their demographic information in writing, and ask them to review it to ensure all fields are up to date and spelled correctly.</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT simply ask the patient if any information has changed since their last visit.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO provide the patient with the information in the system and ask them to verify what you have.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO build relationships/trust with patients, particularly those you see frequently.</div>
				</div>


				<h3>When the patient is spoken with over the phone</h3>
					
				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO request that the patient spell his/her first name, last name, and address (i.e. the street name, city, etc.).</div>
				</div>

				<div class="do-dont-panels dont">
					<div class="left">
						<span><img src="../assets/img/donot3.png" alt=""></span>
					</div>
					<div class="right">DO NOT simply ask the patient if any information has changed since their last visit.</div>
				</div>

				<div class="do-dont-panels do">
					<div class="left">
						<span><img src="../assets/img/green_do.png" alt=""></span>
					</div>
					<div class="right">DO provide the patient with the information in the system and ask them to verify what you have.</div>
				</div>

			</div>
		</div>
	</div>
</div>				



<!--

<div class="section-header" id="section2.1" name="section2.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.1</span>This is the title for Section 2.1</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eum unde nisi nam tempore a id sequi modi atque aliquid minus alias nihil, vel ipsa ipsam facilis maxime ab reprehenderit. Reiciendis, voluptas. Maxime debitis et natus iste, quae ullam asperiores alias, blanditiis nihil eligendi repellendus obcaecati incidunt consequuntur, animi itaque earum! Natus corporis ipsa fugiat placeat, harum reprehenderit ex itaque.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet,</li>
					<li>Eos quasi et odio magni hic,</li>
					<li>Architecto quasi adipisci eligendi itaque fugit optio sed</li>
					<li>Lorem ipsum dolor sit amet,</li>
					<li>Eos quasi et odio magni hic,</li>
					<li>Architecto quasi adipisci eligendi itaque fugit optio sed</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section2.2" name="section2.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.2</span>This is the title for Section 2.2</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eum unde nisi nam tempore a id sequi modi atque aliquid minus alias nihil, vel ipsa ipsam facilis maxime ab reprehenderit. Reiciendis, voluptas. Maxime debitis et natus iste, quae ullam asperiores alias, blanditiis nihil eligendi repellendus obcaecati incidunt consequuntur, animi itaque earum! Natus corporis ipsa fugiat placeat, harum reprehenderit ex itaque.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eum unde nisi nam tempore a id sequi modi atque aliquid minus alias nihil, vel ipsa ipsam facilis maxime ab reprehenderit. Reiciendis, voluptas. Maxime debitis et natus iste, quae ullam asperiores alias, blanditiis nihil eligendi repellendus obcaecati incidunt consequuntur, animi itaque earum! Natus corporis ipsa fugiat placeat, harum reprehenderit ex itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eum unde nisi nam tempore a id sequi modi atque aliquid minus alias nihil, vel ipsa ipsam facilis maxime ab reprehenderit. Reiciendis, voluptas. Maxime debitis et natus iste, quae ullam asperiores alias, blanditiis nihil eligendi repellendus obcaecati incidunt consequuntur, animi itaque earum! Natus corporis ipsa fugiat placeat, harum reprehenderit ex itaque.</p>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section2.3" name="section2.3">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.3</span>This is the title for Section 2.3</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor enim totam, fugiat minima amet ad tempore? Laboriosam nisi voluptatum magni fugiat laudantium at, ea nulla. Sequi explicabo repellat, optio!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dolore, molestiae. Modi dolore, eius tempore similique ad, ea! Minima laudantium voluptatibus tempore, minus. Molestiae, id. Voluptatum quod, iusto dolores sed. Perferendis esse illo, iste perspiciatis praesentium cum itaque voluptatum laborum, tenetur quod ab dolor rem veniam. Laudantium illum vero aut temporibus corporis ratione laborum numquam, soluta totam, voluptatem laboriosam nostrum? Asperiores voluptatibus aperiam quae sit aliquam voluptates accusamus est beatae eligendi esse accusantium quos praesentium illo officiis, impedit molestias veniam quas vel, non, aliquid perferendis totam tempora ad id! Quo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dolore, molestiae. Modi dolore, eius tempore similique ad, ea! Minima laudantium voluptatibus tempore, minus. Molestiae, id. Voluptatum quod, iusto dolores sed. Perferendis esse illo, iste perspiciatis praesentium cum itaque voluptatum laborum, tenetur quod ab dolor rem veniam. Laudantium illum vero aut temporibus corporis ratione laborum numquam, soluta totam, voluptatem laboriosam nostrum? Asperiores voluptatibus aperiam quae sit aliquam voluptates accusamus est beatae eligendi esse accusantium quos praesentium illo officiis, impedit molestias veniam quas vel, non, aliquid perferendis totam tempora ad id! Quo.</p>
				</div>
			</div>
		</div>
	</div>
</div>

-->

{% include upper-footer.html %}