---
layout: page
url: chapter-1
title: Chapter 1
slug: chapter-1
subtitle: What’s the big deal about patient demographic data?
billboardClass: chapter1-billboard

subnav:

navigation_weight: 2

video1: Scenario1-wrong-patient-record-name-misspelled
video2: Scenario2-wrong-patient-record-wrong-date
video3: Scenario3-wrong-patient-record-bad-practices
---


{% include social-links.html %}

{% include billboard_both.html %}


<div class="section-header">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<!--<h2>What’s the big deal about patient demographic data?</h2>-->

				<span class="highlight">Patient demographic data refers to all of the non-clinical data about a patient, including: name, date of birth, address, phone number, email address, sex, race, etc.</span>

				<p>Within your practice management system and EHR, patient demographic data is used to match patient records together, so that your system has one record for each patient. And, when you send patient records to another practice or to the hospital, they use the same set of demographic data to find the patient in their EHR, so that they can maintain one record for each patient.</p>

				<p>Practice management and EHR systems often use sophisticated technology to compare data elements to determine if a patient matches a record in their system. Unfortunately, patient demographic data is often misspelled, numbers are transposed (reversed), and sometimes data just is not captured. For example, your systems have to look at two records, like the below and determine if there is a match or not. Would you match these records together?</p>
			</div>
		</div>
	</div>
</div>

<div class="section-header">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div class="datagrid" style="overflow-y: auto;">
					<table>
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Suffix</th>
								<th>Date of Birth</th>
								<th>Address</th>
								<th>Phone Number</th>
								<th>Sex</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>J</td>
								<td>Smith</td>
								<td>Jr</td>
								<td>7/16/82</td>
								<td>12 First Street</td>
								<td>555-555-5555</td>
								<td>M</td>
							</tr>
							<tr>
								<td>James</td>
								<td>S</td>
								<td></td>
								<td>7/16/82</td>
								<td>12 First Street</td>
								<td>555-555-5555</td>
								<td>M</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-header">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>As advanced as technology is today, making decisions about matching patient data can be incredibly difficult when patient demographic data is not captured correctly and consistently.  And incorrectly matching patient records together or creating duplicate records can have significant consequences, particularly for patients.</p>

				<p>Review each of the following scenarios to learn about some of the patient safety issues that can occur when patient records are not matched due to low quality patient demographic data.</p>
				
				<div class="row">
					<div class="video-buttons">
						<div class="grid-4">
							<a href="" class="btn btn-scenario active" data-button="0">Scenario 1</a>
						</div>
						<div class="grid-4">
							<a href="" class="btn btn-scenario" data-button="1">Scenario 2</a>
						</div>
						<div class="grid-4">
							<a href="" class="btn btn-scenario" data-button="2">Scenario 3</a>
						</div>
					</div>
				</div>

				<div class="video-slideout">

					<div class="embeded-video" id="video0">
						<video width="100%" controls poster="{{site.baseurl}}/assets/img/Scenario1-wrong-patient-record-name-mispelled.jpg" alt="Video showing the dangers of getting the wrong patient record because of a mispelled name" title="Wrong patient record as a result of a name misspelling">
						  <source type="video/mp4" src="{{site.baseurl}}/assets/video/{{ page.video1 }}.mp4">
						  <source type="video/webm" src="{{site.baseurl}}/assets/video/{{ page.video1 }}.webm">
						  Your browser does not support the video tag.
						</video>
					</div>
					<div class="embeded-video" id="video1">
						<video width="100%" controls poster="{{site.baseurl}}/assets/img/Scenario2-wrong-patient-record-wrong-date.jpg" alt="Video showing the dangers of getting the wrong patient record because of a wrong birthdate" title="Wrong patient record as a result of using the wrong birthdate">
						  <source type="video/mp4" src="{{site.baseurl}}/assets/video/{{ page.video2 }}.mp4">
						  <source type="video/webm" src="{{site.baseurl}}/assets/video/{{ page.video2 }}.webm">
						  Your browser does not support the video tag.
						</video>
					</div>
					<div class="embeded-video" id="video2">
						<video width="100%" controls poster="{{site.baseurl}}/assets/img/Scenario3-wrong-patient-record-bad-practices.jpg" alt="Video showing the dangers of getting the wrong patient record because of bad practices" title="Wrong patient record as a result of using bad practices">
						  <source type="video/mp4" src="{{site.baseurl}}/assets/video/{{ page.video3 }}.mp4">
						  <source type="video/webm" src="{{site.baseurl}}/assets/video/{{ page.video3 }}.webm">
						  Your browser does not support the video tag.
						</video>
					</div>

				</div>

<!--
				<div class="embeded-video">
					
					<video width="100%"  controls>
					  <source type="video/mp4" src="{{site.baseurl}}/assets/video/{{ page.video2 }}">
					  Your browser does not support the video tag.
					</video>
				
				</div>

				<div class="embeded-video">
					
					<video width="100%"  controls>
					  <source type="video/mp4" src="{{site.baseurl}}/assets/video/{{ page.video3 }}">
					  Your browser does not support the video tag.
					</video>
				
				</div>
-->
				

				<p>The following chapters will show you ways that you can improve patient demographic data in your everyday work.</p>
				
			</div>
		</div>
	</div>
</div>

{% include upper-footer.html %}









