.chapter3-billboard{
	background-image: url('../../assets/img/bg-chapter-3.jpg');
	background-position: 43% 10%;
	background-repeat: no-repeat;
	background-size: cover;
}

@include breakpoint($medium-2){
	.chapter3-billboard{
		background-position: 10%;
	}	
}


.col-4-list::before,
.col-4-list::after{
	content: "";
	display: table;
	clear: both;
}




.do-dont-panels{
	display: table;
	width: 100%;
	border: 1px solid #078F81; 
	padding: .5em; 
	border-radius: 10px; 
	margin-bottom: .5em;
	transition: all .2s ease-in-out;
}

.do-dont-panels:hover{
	transform: scale(1.05);
}

.do-dont-panels.do{
	border: 1px solid #078F81; 
}

/* .do-dont-panels.do:hover{
	background-color: $green-lightest; 
} */

.do-dont-panels.dont{
	border: 1px solid #D43838; 
}

/* .do-dont-panels.dont:hover{
	background-color: #FF8585;
	color: #FFF; 
} */


.do-dont-panels > div.left{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 12%;
}

.do-dont-panels > div.left img{
	width: 2.5em;
}


.do-dont-panels > div.right{
	display: table-cell;
	vertical-align: middle;
	width: 88%;
}

@include breakpoint($medium){
	.do-dont-panels > div.left{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 8%;
	}

	.do-dont-panels > div.right{
		display: table-cell;
		vertical-align: middle;
		width: 92%;
	}
}