.chapter4-billboard{
	background-image: url('../../assets/img/bg-chapter-4.jpg');
	background-position: center 10%;
	background-repeat: no-repeat;
	background-size: cover;
}


@include breakpoint($medium-2){
	.chapter4-billboard{
		background-position: center 30%;
	}	
}