<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registrar Playbook</title>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
	
	<script src="https://use.typekit.net/nvj0nzb.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
</head>
<body>

	{{ content }}
	
</body>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery/jquery-3.1.0.min.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
</html>